@import '../../css/variables.scss';

.select {
    width: 19.4rem;
    height: 3.7rem;
    background-color: var(#{--card-background-default});
    border: none;
    border-radius: $border-radius-sm;
    padding: 0.9rem 2rem;
    color: var(#{--text-color-default});
}
