@import '../../css/variables.scss';

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: $border-radius-sm;
    background-color: var(#{--card-background-default});
    cursor: pointer;

    .weekday {
        font-size: 1.8rem;
        color: var(#{--text-color-default});
        margin-bottom: 0.7rem;
    }

    .date {
        font-size: 1.4rem;
        color: $secondary-color;
        margin-bottom: 1.2rem;
    }

    .icon-box {
        margin-bottom: 1.2rem;
    }

    .temp-day {
        font-size: 1.8rem;
        color: var(#{--text-color-default});
    }

    .temp-night {
        font-size: 1.3rem;
        color: $secondary-color;
        margin-bottom: 0.6rem;
    }

    .info {
        font-size: 1.3rem;
        color: var(#{--text-color-default});
    }

    &:hover {
        box-shadow: var(#{--card-box-shadow-default})
    }
}