@import '../../css/variables.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo svg {
    width: 6.5rem;
    height: 6.5rem;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    color: $primary-color;
}

.theme svg {
    cursor: pointer;
}