@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--body-background-default);
}
