$primary-color: #4793ff;
$secondary-color: #939cb0;
$color-white: #fff;
$color-black: #000;
$color-dark: #0d1117;

$box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
$box-shadow-icon: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);

$border-radius-sm: 1rem;
$border-radius-md: 2rem;

$body-background-dark: #0d1117;
$body-background-light: $color-white;

$component-background-dark: #4f4f4f;
$component-background-light: $color-white;

$card-background-dark: #2e3035;
$card-background-light: rgba(71, 147, 255, 0.2);

$card-box-shadow-light: 0px 3px 20px rgba(147, 144, 144, 0.28);
$card-box-shadow-dark: 0px 3px 20px rgba(5, 5, 5, 0.28);

:root {
    --body-background-dark: #{$body-background-dark};
    --body-background-light: #{$body-background-light};
    --body-background-default: var(--body-background-light);

    --component-background-dark: #{$component-background-dark};
    --component-background-light: #{$component-background-light};
    --component-background-default: var(--component-background-light);

    --card-background-dark: #{$card-background-dark};
    --card-background-light: #{$card-background-light};
    --card-background-default: var(--card-background-light);

    --card-box-shadow-dark: #{$card-box-shadow-dark};
    --card-box-shadow-light: #{$card-box-shadow-light};
    --card-box-shadow-default: var(--card-box-shadow-light);

    --text-color-dark: #{$color-white};
    --text-color-light: #{$color-black};
    --text-color-default: var(--text-color-light);
}
